.container-fluid {
  min-height: 100vh;
}

.breathe {
  margin-left: 5px;
}

.btn-fix {
  margin-left: 5px;
  vertical-align: initial !important;
}

.message-feed {
  height: 80vh;
  overflow: auto;
  margin-bottom: 10px !important;
}